<template>
  <div class="site-parser-popup-container" v-if="isExtensionEnabled && isStarted">
    <div class="site-parser-ui-header">
      <div class="site-parser-popup-btn" v-on:click="closePopup">x</div>
    </div>

    <div class="ext-row">
        <hr class="styled-hr"/>
    </div>
    
    <div class="site-parser-ui-popup">
      <p id="site-parser-text">{{textRequested}}</p>
    </div>

    <div class="ext-row">
      <p style="margin-left: 10px;padding-bottom: 10px;display: inline-block;">Add as:</p>
    </div>

    <div class="ext-row commands-row">
      <button class="ext-command" v-bind:class = "currentSession.isTitleStored ? 'ext-command-stored':' '" v-on:click="addTitle">Title</button>
      <button class="ext-command" v-bind:class = "currentSession.isHeadlineStored ? 'ext-command-stored':' '" v-on:click="addHeadline">Headline</button>
      <button class="ext-command" v-bind:class = "currentSession.isFirstnameStored ? 'ext-command-stored':' '" v-on:click="addFirstname">Firstname</button>
      <button class="ext-command" v-bind:class = "currentSession.isLastnameStored ? 'ext-command-stored':' '" v-on:click="addLastname">Lastname</button>
      <button class="ext-command" v-bind:class = "currentSession.isCompanyStored ? 'ext-command-stored':' '" v-on:click="addCompany">Company</button>
      <button class="ext-command" v-bind:class = "currentSession.isCompanyUrlStored ? 'ext-command-stored':' '" v-on:click="addCompanyUrl">Company URL</button>
      <button class="ext-command" v-bind:class = "currentSession.isDateStored ? 'ext-command-stored':' '" v-on:click="addDate">Date</button>
      <button class="ext-command" v-bind:class = "currentSession.isAppointedStored ? 'ext-command-stored':' '" v-on:click="addAppointed">Appointed</button>
      <button class="ext-command" v-bind:class = "currentSession.isPromotedStored ? 'ext-command-stored':' '" v-on:click="addPromoted">Promoted</button>
      <button class="ext-command" v-bind:class = "currentSession.isRetiredStored ? 'ext-command-stored':' '" v-on:click="addRetired">Retired</button>
      <button class="ext-command" v-bind:class = "currentSession.isResignedStored ? 'ext-command-stored':' '" v-on:click="addResigned">Resigned</button>
      <br/>
      <button class="ext-command" v-on:click="addNewRow">New Row</button>
    </div>

  </div>
</template>

<script>

import icon from "../assets/icon.png";
import $ from "jquery";
import moment from "moment";
import { ExportToCsv } from 'export-to-csv';

export default {
  name: 'commands',
  data () {
    return {
      textRequested:'',
      urls:'',
      dataArr:{},
      isExtensionEnabled:true,
      isStarted:false,
      currentIndex:-1,
      currentAppointments:0,
      indexArr:[],
      currentSession:{
        isTitleStored:false,
        isFirstnameStored:false,
        isLastnameStored:false,
        isHeadlineStored:false,
        isCompanyStored:false,
        isCompanyUrlStored:false,
        isDateStored:false,
        isAppointedStored:false,
        isPromotedStored:false,
        isRetiredStored:false,
        isResignedStored:false,
      },
    }
  },
  watch: {
      isExtensionEnabled: function(val) {
        console.log("rating enabled: "+this.isExtensionEnabled);
        //store enabled/disabled status
        chrome.storage.local.set({"isExtensionEnabled":this.isExtensionEnabled});          
      },

  },
  mounted: function () {    

    var vm = this; 

    //load stored data
    chrome.storage.local.get(["isExtensionEnabled","isStarted","dataArr","urls","currentIndex","indexArr"],function(obj){

      if(obj == undefined || obj.isExtensionEnabled == undefined || obj.isExtensionEnabled == true)
      {
        vm.isExtensionEnabled = true;
      }
      else{
        vm.isExtensionEnabled = false;
      }

      if(obj == undefined || obj.isStarted == undefined || !obj.isStarted)
      {
        vm.isStarted = false;
      }
      else{
        vm.isStarted = true;
      }

      if(obj != undefined && obj.dataArr != undefined )
      {
        vm.dataArr = obj.dataArr;
      }

      if(obj != undefined && obj.indexArr != undefined )
      {
        vm.indexArr = obj.indexArr;
      }

      if(obj != undefined && obj.urls != undefined )
      {
        vm.urls = obj.urls;
      }

      if(obj != undefined && obj.currentIndex != undefined )
      {
        vm.currentIndex = obj.currentIndex;
      }

    });

    //handle extension events
    chrome.runtime.onMessage.addListener(function(request, sender, sendResponse)
    {
      if(request.command == "image-src-command" && vm.isStarted)
      {    
        //store image src
        var currentUrl = vm.indexArr[vm.currentIndex];
        vm.dataArr[currentUrl][vm.currentAppointments].image = request.url;

        //store updates
        chrome.storage.local.set({"dataArr":vm.dataArr});
        console.log(vm.dataArr);

        this.sendReloadCommand();
      }
    });

  },
  updated(){ 
          
  },
  methods: {
    closePopup: function(){

      $("#site-parser-ui-popup-container").hide();

    },
    addDate: function(){
      var vm = this;

      var currentUrl = vm.indexArr[vm.currentIndex];
      vm.dataArr[currentUrl][vm.currentAppointments].date = vm.textRequested;

      //store updates
      chrome.storage.local.set({"dataArr":vm.dataArr});
      console.log(vm.dataArr);

      this.currentSession.isDateStored = true;

      this.sendReloadCommand();
      this.closePopup();
    },
    addCompanyUrl: function(){
      var vm = this;

      var currentUrl = vm.indexArr[vm.currentIndex];
      vm.dataArr[currentUrl][vm.currentAppointments].company_url = vm.textRequested;

      this.currentSession.isCompanyUrlStored = true;

      //store updates
      chrome.storage.local.set({"dataArr":vm.dataArr});
      console.log(vm.dataArr);

      this.sendReloadCommand();
      this.closePopup();
    },
    addCompany: function(){
      var vm = this;

      var currentUrl = vm.indexArr[vm.currentIndex];
      vm.dataArr[currentUrl][vm.currentAppointments].company = vm.textRequested;

      this.currentSession.isCompanyStored = true;

      //store updates
      chrome.storage.local.set({"dataArr":vm.dataArr});
      console.log(vm.dataArr);

      this.sendReloadCommand();
      this.closePopup();
    },
    addLastname: function(){
      var vm = this;

      var currentUrl = vm.indexArr[vm.currentIndex];
      vm.dataArr[currentUrl][vm.currentAppointments].lastname = vm.textRequested;

      this.currentSession.isLastnameStored = true;

      //store updates
      chrome.storage.local.set({"dataArr":vm.dataArr});
      console.log(vm.dataArr);

      this.sendReloadCommand();
      this.closePopup();
    },
    addFirstname: function(){
      var vm = this;

      var currentUrl = vm.indexArr[vm.currentIndex];
      vm.dataArr[currentUrl][vm.currentAppointments].firstname = vm.textRequested;

      this.currentSession.isFirstnameStored = true;

      //store updates
      chrome.storage.local.set({"dataArr":vm.dataArr});
      console.log(vm.dataArr);

      this.sendReloadCommand();
      this.closePopup();
    },
    addHeadline: function(){
      var vm = this;

      var currentUrl = vm.indexArr[vm.currentIndex];
      vm.dataArr[currentUrl][vm.currentAppointments].headline = vm.textRequested;

      this.currentSession.isHeadlineStored = true;

      //store updates
      chrome.storage.local.set({"dataArr":vm.dataArr});
      console.log(vm.dataArr);

     this.sendReloadCommand();
     this.closePopup();
    },
    addTitle: function(){
      var vm = this;

      var currentUrl = vm.indexArr[vm.currentIndex];
      vm.dataArr[currentUrl][vm.currentAppointments].title = vm.textRequested;

      this.currentSession.isTitleStored = true;

      //store updates
      chrome.storage.local.set({"dataArr":vm.dataArr});
      console.log(vm.dataArr);

      this.sendReloadCommand();
      this.closePopup();
    },
    addAppointed: function(){
      var vm = this;

      var currentUrl = vm.indexArr[vm.currentIndex];
      vm.dataArr[currentUrl][vm.currentAppointments].appointed = 'X';

      this.currentSession.isAppointedStored = true;

      //store updates
      chrome.storage.local.set({"dataArr":vm.dataArr});
      console.log(vm.dataArr);

      this.sendReloadCommand();
      this.closePopup();
    },
    addPromoted: function(){
      var vm = this;

      var currentUrl = vm.indexArr[vm.currentIndex];
      vm.dataArr[currentUrl][vm.currentAppointments].promoted = 'X';

      this.currentSession.isPromotedStored = true;

      //store updates
      chrome.storage.local.set({"dataArr":vm.dataArr});
      console.log(vm.dataArr);

      this.sendReloadCommand();
      this.closePopup();
    },
    addRetired: function(){
      var vm = this;

      var currentUrl = vm.indexArr[vm.currentIndex];
      vm.dataArr[currentUrl][vm.currentAppointments].retired = 'X';

      this.currentSession.isRetiredStored = true;

      //store updates
      chrome.storage.local.set({"dataArr":vm.dataArr});
      console.log(vm.dataArr);

      this.sendReloadCommand();
      this.closePopup();
    },
    addResigned: function(){
      var vm = this;

      var currentUrl = vm.indexArr[vm.currentIndex];
      vm.dataArr[currentUrl][vm.currentAppointments].resigned = 'X';

      this.currentSession.isResignedStored = true;

      //store updates
      chrome.storage.local.set({"dataArr":vm.dataArr});
      console.log(vm.dataArr);

      this.sendReloadCommand();
      this.closePopup();
    },
    addNewRow: function(){

      var vm = this;
      var currentUrl = vm.indexArr[vm.currentIndex];

      this.resetFlags();
      this.currentAppointments++;

      this.dataArr[currentUrl][vm.currentAppointments] = {
        url:currentUrl,
        firstname:'',
        lastname:'',
        title:'',
        headline:this.dataArr[currentUrl][vm.currentAppointments-1].headline,
        company:'',
        company_url:'',
        date:this.dataArr[currentUrl][vm.currentAppointments-1].date,
        image:'',
        isParsed:false,
        promoted:'',
        appointed:'',
        retired:'',
        resigned:'',
      };

      this.currentSession.isHeadlineStored = true;
      this.currentSession.isDateStored = true;

    },
    resetFlags: function(){
      this.currentSession = {
        isTitleStored:false,
        isFirstnameStored:false,
        isLastnameStored:false,
        isHeadlineStored:false,
        isCompanyStored:false,
        isCompanyUrlStored:false,
        isDateStored:false,
        isAppointedStored:false,
        isPromotedStored:false,
        isRetiredStored:false,
        isResignedStored:false,
      };
    },
    sendReloadCommand: function(){
      //update data on popup window
      chrome.runtime.sendMessage({"command": "reload-list"});                  
    },
    redirectNextSite: function(){

      var vm = this;
      vm.currentIndex++;

      //check if all links are parsed
      if(Object.keys(vm.dataArr).length <= this.currentIndex)
      {
        this.parseComplete();
        return;
      }
          
      //get next url, update index and store data

      var nextUrl = vm.indexArr[vm.currentIndex];
      vm.dataArr[nextUrl][0].isParsed = true;

      chrome.storage.local.set({"currentIndex":vm.currentIndex});
      chrome.storage.local.set({"dataArr":vm.dataArr});

      //send background a redirect to next url
      chrome.runtime.sendMessage({command: "redirect",redirect: nextUrl});

    },
    parseComplete: function(){
      //download csv
      this.exportToCsv();

      //reset data
      this.reset();
    },
    exportToCsv: function(){
      //generate data array to send to export library
      var data = [];
      for (var i in this.dataArr) {
        for (var appointmentIndex in this.dataArr[i]) {
          let row = {
            url:this.dataArr[i][appointmentIndex].url,
            firstname:this.dataArr[i][appointmentIndex].firstname,
            lastname:this.dataArr[i][appointmentIndex].lastname,
            title:this.dataArr[i][appointmentIndex].title,
            headline:this.dataArr[i][appointmentIndex].headline,
            company:this.dataArr[i][appointmentIndex].company,
            company_url:this.dataArr[i][appointmentIndex].company_url,
            date:this.dataArr[i][appointmentIndex].date,
            image:this.dataArr[i][appointmentIndex].image,
            promoted:this.dataArr[i][appointmentIndex].promoted,
            appointed:this.dataArr[i][appointmentIndex].appointed,
            retired:this.dataArr[i][appointmentIndex].retired,
            resigned:this.dataArr[i][appointmentIndex].resigned,
          }

          data.push(row);
        }
      }

      //exporting
      const options = { 
        fieldSeparator: ',',
        quoteStrings: '"',
        decimalSeparator: '.',
        showLabels: true, 
        showTitle: false,
        filename: 'site_parser_'+moment().format("MMMM D, YYYY"),
        useTextFile: false,
        useBom: true,
        useKeysAsHeaders: true,
        // headers: ['Column 1', 'Column 2', etc...] <-- Won't work with useKeysAsHeaders present!
      };
     
      const csvExporter = new ExportToCsv(options);
       
      csvExporter.generateCsv(data);

    },
    reset: function(){
      this.dataArr = {};
      this.urls = "";
      this.isStarted = false;
      this.currentIndex = -1;
      this.indexArr = [];
      this.currentAppointments = 0;

      chrome.storage.local.set({"dataArr":this.dataArr});
      chrome.storage.local.set({"urls":this.urls});
      chrome.storage.local.set({"isStarted":this.isStarted});
      chrome.storage.local.set({"currentIndex":this.currentIndex});
      chrome.storage.local.set({"indexArr":this.indexArr});
    }
  }
}


</script>

<style lang="less">
  
  .ext-command-stored{
    background-color: #14a800 !important;
    color: white !important;
  }
  .chatterly-switch {
      position: relative !important;
      display: inline-block !important;
      width: 46px !important;
      height: 23px !important;
      cursor: pointer  !important;
    }

    .chatterly-switch input { 
      opacity: 0;
      width: 0;
      height: 0;
    }

    .chatterly-slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
      width: 46px !important;
      height: 23px !important;
    }

    .chatterly-slider:before {
      position: absolute;
      content: "";
      height: 20px;
      width: 20px;
      left: 2px;
      bottom: 2.5px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }

    input:checked + .chatterly-slider {
      background-color: #1fe733;
    }

    input:focus + .chatterly-slider {
      box-shadow: 0 0 1px #1fe733;
    }

    input:checked + .chatterly-slider:before {
      -webkit-transform: translateX(22px);
      -ms-transform: translateX(22px);
      transform: translateX(22px);
    }

    /* Rounded sliders */
    .chatterly-slider.round {
      border-radius: 34px;
      background-color: #e5e5e5;
      margin: auto;
      display: inline-block;
    }

    .toggled_text{
      color: #fff!important;
      font-size: 10px!important;
      margin-left: 4px!important;
      position: absolute!important;
      line-height: 22px!important;
    }

    .toggled_text_off{
        right: 4px !important;
        font-weight: bold;
        font-size: 10px!important;
        margin-left: 4px!important;
        position: absolute!important;
        line-height: 22px!important;
    }

    .chatterly-slider.round:before {
      border-radius: 50%;

    }
</style>

<style lang="less">

  .site-parser-popup-container{
    //reset all styling from other sites
    all: initial;
    * {
      all: unset;
    }

    background-color: white;
    width: 525px;
    display: block;    
    div{
      display: block;
    }

    button{
      background: #e4e4e4;
      padding: 5px;
      margin: 5px;
      cursor: pointer;
      border-radius: 5px;
    }

    .site-parser-ui-header{      
      display: flex;
      align-items: center;
      padding: 15px;
      img{
        width: 20px;
        height: 20px;
        margin-right: 10px;
      }

      h1{
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 22px;
        color: lighten(#623C95,10%);
        display: inline-block;
        margin: 0px;
      }
      .site-parser-popup-btn{
        color: lighten(#b5b5b5,5%);
        cursor: pointer;
        position: absolute;
        right: 15px;
        top: 5px;
        font-size: 20px;
        font-family: 'Poppins', sans-serif;
      }
    } 

    .styled-hr{
      background-color: #ebebeb;
      height: 1px;
      width: 100%;
      display: block;
    }

    .site-parser-ui-popup{
      padding: 15px 23px;
      max-height: 100px;
      overflow-y: auto;
      word-break: break-word;

      p{
        font-family: Poppins;
        font-style: normal;
        font-weight: 300;
        font-size: 26px;
        line-height: 57px;
        color: #000;
      }
    }

    .chatterly-popup-footer{
      padding: 15px;
      padding-top: 0px;
      img{
        width: 20px;
      }
      .voting-section{
        float: right;
        .vote{
          margin:0px 5px;
          cursor: pointer;
          float: left;
        }
      }
    }
  }
  
  
</style>

