<template>
  <div class="main_app">

    <div class="popup_content">
      <h1>Quick Settings</h1>

      <div class="setting_row">
        <p>Enable Extension</p>
        <label class="chatterly-switch">
          <input v-model="isExtensionEnabled" type="checkbox">
          <span class="chatterly-slider round">
            <span class="toggled_text" v-if="isExtensionEnabled">ON</span>
            <span class="toggled_text_off" v-if="!isExtensionEnabled">OFF</span>
          </span>
        </label>
      </div>

      <div class="setting_row" v-if="isExtensionEnabled">
        <p>Paste urls separated with newline</p>
        <textarea class="popup_textarea" v-model="urls"></textarea>

        <button class="site-parser-popup-btn" v-if="!isStarted" v-on:click="parseSites">Start</button>
        <button class="" v-if="isStarted" v-on:click="parseComplete">Stop</button>
        <button class="site-parser-popup-btn" v-if="isStarted" v-on:click="redirectNextSite">Next</button>
      </div>

    </div>

  </div>
</template>

<script>

import icon from "../assets/icon.png";
import $ from "jquery";
import moment from "moment";
import { ExportToCsv } from 'export-to-csv';

//global vars
var storedVars= ["isExtensionEnabled","isStarted","dataArr","urls","currentIndex","indexArr"];

export default {
  name: 'popup',
  data () {
    return {
      msg: 'popup',
      urls:'',
      dataArr:{},
      indexArr:[],
      isExtensionEnabled:true,
      isStarted:false,
      currentIndex:-1,
      currentAppointments:0,
    }
  },
  watch: {
      isExtensionEnabled: function(val) {
        console.log("extension enabled: "+this.isExtensionEnabled);
        //store enabled/disabled status
        chrome.storage.local.set({"isExtensionEnabled":this.isExtensionEnabled});          
      },
  },
  mounted: function () {  

    var vm = this;  

    //load stored data
    chrome.storage.local.get(storedVars,function(obj){

      if(obj == undefined || obj.isExtensionEnabled == undefined || obj.isExtensionEnabled == true)
      {
        vm.isExtensionEnabled = true;
      }
      else{
        vm.isExtensionEnabled = false;
      }

      if(obj == undefined || obj.isStarted == undefined || !obj.isStarted)
      {
        vm.isStarted = false;
      }
      else{
        vm.isStarted = true;
      }

      if(obj != undefined && obj.dataArr != undefined )
      {
        vm.dataArr = obj.dataArr;
      }

      if(obj != undefined && obj.indexArr != undefined && !$.isEmptyObject(obj.indexArr))
      {
        vm.indexArr = obj.indexArr;
      }

      if(obj != undefined && obj.urls != undefined )
      {
        vm.urls = obj.urls;
      }

      if(obj != undefined && obj.currentIndex != undefined )
      {
        vm.currentIndex = obj.currentIndex;
      }

    });

    //handle extension events
    chrome.runtime.onMessage.addListener(function(request, sender, sendResponse)
    {
      if(request.command == "reload-list")
      {    
        //load stored data
        chrome.storage.local.get(storedVars,function(obj){

          if(obj != undefined && obj.dataArr != undefined )
          {
            vm.dataArr = obj.dataArr;
          }

        });
      }
    });

  },
  updated(){ 
  
  },
  methods: {
    parseSites: function(){
      
      //check urls are not empty
      if(this.urls == undefined || this.urls.trim() == '')
      {
        return;
      }

      //parse urls to array
      var urlsArray = this.urls.split("\n");

      for(var i in urlsArray)
      {
        this.indexArr.push(urlsArray[i]);
        this.dataArr[urlsArray[i]] = [{
          url:urlsArray[i],
          firstname:'',
          lastname:'',
          title:'',
          headline:'',
          company:'',
          company_url:'',
          date:'',
          image:'',
          isParsed:false,
          promoted:'',
          appointed:'',
          retired:'',
          resigned:'',
        }];
      }

      //store array in storage and start parsing
      chrome.storage.local.set({"dataArr":this.dataArr});
      chrome.storage.local.set({"urls":this.urls});
      chrome.storage.local.set({"indexArr":this.indexArr});

      console.log(this.dataArr);
      console.log(this.indexArr);

      this.isStarted = true;
      chrome.storage.local.set({"isStarted":this.isStarted});

      this.redirectNextSite();

    },
    redirectNextSite: function(){

      var vm = this;
      vm.currentIndex++;

      //check if all links are parsed
      if(Object.keys(vm.dataArr).length <= this.currentIndex)
      {
        this.parseComplete();
        return;
      }

      chrome.tabs.query({currentWindow: true, active: true}, function (tab) {
          
          //get next url, update index and store data

          var nextUrl = vm.indexArr[vm.currentIndex];
          vm.dataArr[nextUrl][vm.currentAppointments].isParsed = true;

          chrome.storage.local.set({"currentIndex":vm.currentIndex});
          chrome.storage.local.set({"dataArr":vm.dataArr});

          //redirect to next url
          chrome.tabs.update(tab.id, {url: nextUrl});
      });
    },
    parseComplete: function(){
      //download csv
      this.exportToCsv();

      //reset data
      this.reset();
    },
    exportToCsv: function(){
      //generate data array to send to export library
      var data = [];
      for (var i in this.dataArr) {
        for (var appointmentIndex in this.dataArr[i]) {
          let row = {
            url:this.dataArr[i][appointmentIndex].url,
            firstname:this.dataArr[i][appointmentIndex].firstname,
            lastname:this.dataArr[i][appointmentIndex].lastname,
            title:this.dataArr[i][appointmentIndex].title,
            headline:this.dataArr[i][appointmentIndex].headline,
            company:this.dataArr[i][appointmentIndex].company,
            company_url:this.dataArr[i][appointmentIndex].company_url,
            date:this.dataArr[i][appointmentIndex].date,
            image:this.dataArr[i][appointmentIndex].image,
            promoted:this.dataArr[i][appointmentIndex].promoted,
            appointed:this.dataArr[i][appointmentIndex].appointed,
            retired:this.dataArr[i][appointmentIndex].retired,
            resigned:this.dataArr[i][appointmentIndex].resigned,
          }

          data.push(row);
        }
      }

      //exporting
      const options = { 
        fieldSeparator: ',',
        quoteStrings: '"',
        decimalSeparator: '.',
        showLabels: true, 
        showTitle: false,
        filename: 'site_parser_'+moment().format("MMMM D, YYYY"),
        useTextFile: false,
        useBom: true,
        useKeysAsHeaders: true,
        // headers: ['Column 1', 'Column 2', etc...] <-- Won't work with useKeysAsHeaders present!
      };
     
      const csvExporter = new ExportToCsv(options);
       
      csvExporter.generateCsv(data);

    },
    reset: function(){
      this.dataArr = {};
      this.urls = "";
      this.isStarted = false;
      this.currentIndex = -1;
      this.indexArr = [];
      this.currentAppointments = 0;

      chrome.storage.local.set({"dataArr":this.dataArr});
      chrome.storage.local.set({"urls":this.urls});
      chrome.storage.local.set({"isStarted":this.isStarted});
      chrome.storage.local.set({"currentIndex":this.currentIndex});
      chrome.storage.local.set({"indexArr":this.indexArr});
    }
  }
}

</script>

<style lang="less">
  body{
    margin:0;
  }
  img{
    width: 40px;
    margin-right: 10px;
  }

  .popup_textarea{
    width: 100%;
    margin-bottom: 15px;
    height: 100px;
    resize: none;
  }

  .site-parser-popup-btn{
    float: right;
  }

  .popup_footer{
    padding: 15px 10px;
    text-align: center;
    background-color: #ece9f0;
    background: rgba(67,38,105,.1);
    border: 1px solid rgba(67,38,104,.3);
    box-sizing: border-box;
    border-radius: 5px;
    margin: 19px 24px;
    display: flex;
    justify-content: center;
    align-items: center;

    a{
      color: #4e3271;
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
      text-decoration: none;
    }
    h1{
      display: inline-block;
      margin: 0;
      padding: 0;
      all: unset;
    }
  }
  .main_app {
    min-width: 400px;
    .popup_header{
      background: linear-gradient(180deg, #623C95 0%, #372359 100%);
      padding: 17px;
      display: flex;
      align-items: center;
      h1{
        color: white;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        display: inline-block;
        margin: 5px;
      }    
      .img_logo{

      }
    }  
    .popup_content{
      padding: 17px;
      h1{
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 25px;
      }
      .setting_row{
        padding: 3px;
        margin-bottom: 25px;
        label{
          float: right;
        }        
        p{
          font-family: Poppins;
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 22px;
          display: inline-block;
          margin: 0;
        }
      }
    }

    .chatterly-switch {
      position: relative !important;
      display: inline-block !important;
      width: 46px !important;
      height: 23px !important;
      cursor: pointer  !important;
    }

    .chatterly-switch input { 
      opacity: 0;
      width: 0;
      height: 0;
    }

    .chatterly-slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
      width: 46px !important;
      height: 23px !important;
    }

    .chatterly-slider:before {
      position: absolute;
      content: "";
      height: 20px;
      width: 20px;
      left: 2px;
      bottom: 2.5px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }

    input:checked + .chatterly-slider {
      background-color: #1fe733;
    }

    input:focus + .chatterly-slider {
      box-shadow: 0 0 1px #1fe733;
    }

    input:checked + .chatterly-slider:before {
      -webkit-transform: translateX(22px);
      -ms-transform: translateX(22px);
      transform: translateX(22px);
    }

    /* Rounded sliders */
    .chatterly-slider.round {
      border-radius: 34px;
      background-color: #e5e5e5;
      margin: auto;
      display: inline-block;
    }

    .toggled_text{
      color: #fff!important;
      font-size: 10px!important;
      margin-left: 4px!important;
      position: absolute!important;
      line-height: 22px!important;
    }

    .toggled_text_off{
        right: 4px !important;
        font-weight: bold;
        font-size: 10px!important;
        margin-left: 4px!important;
        position: absolute!important;
        line-height: 22px!important;
    }

    .chatterly-slider.round:before {
      border-radius: 50%;

    }
  }
</style>
