.site-parser-btn{
	cursor: pointer;
	position: absolute;
	top: 5px;    
    right: 5px;
    z-index: 9999999999999;
}


#site-parser-ui-popup-container{
	position:absolute;
	top:0;
	left:0;
	z-index:999999999999999999;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	display: none;
}
