.chatterly-switch {
  position: relative !important;
  display: inline-block !important;
  width: 30px !important;
  height: 17px !important;
  cursor: pointer  !important;
}

.chatterly-switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.chatterly-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  width: 30px !important;
  height: 17px !important;
}

.chatterly-slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .chatterly-slider {
  background-color: #1fe733;
}

input:focus + .chatterly-slider {
  box-shadow: 0 0 1px #1fe733;
}

input:checked + .chatterly-slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

/* Rounded sliders */
.chatterly-slider.round {
  border-radius: 34px;
  background-color: #e5e5e5;
  margin: auto;
  display: inline-block;
}

.toggled_text{
  color: white !important;
  font-size: 7px !important;
  margin-left: 3px !important;
  position: absolute !important;
  line-height: 18px !important;
}

.toggled_text_off{
    position: absolute !important;
    right: 2px !important;
    font-size: 7px !important;
    line-height: 18px !important;
}

.chatterly-slider.round:before {
  border-radius: 50%;

}